{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "> 1%",
                    "node": "6"
                },
                "modules": "umd"
            }
        ]
    ],
    "plugins": [
        [
            "add-module-exports",
            {
                "addDefaultProperty": true
            }
        ]
    ]
}
